.estado {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 5px;
    height: 95%;
    
}
.ajuste{
    width: 1px !important;
}
:host ::ng-deep .p-cell-editing {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
