<div class="mx-4">
    <p-table [value]="products" [columns]="cols" [lazy]="true" [loading]="loading" dataKey="id" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header" let-columns>
            
            <tr>
                <th></th>
                <th *ngFor="let col of columns" [style.width.%]="100 / columns.length">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-expanded="expanded">
            <tr class="relative" >                   
                <td class="ajuste">
                    <span class="estado py-4" style="background-color: green;"></span>
                    <button (click)="onExpand($event)" type="button" pButton pRipple [pRowToggler]="product" class="p-button-text  p-button-plain rounded-5 me-2" [icon]="expanded ? 'bi bi-chevron-down' : 'bi bi-chevron-right'" ></button>
                </td>
                
                
                

                <ng-container *ngFor="let col of cols">
                    <ng-container *ngIf="col['edit'] === undefined; else editColumn">
                        <!-- Columna visible solo si col['edit'] es undefined -->
                        <td >
                            {{ product[col.field] }}
                        </td>
                    </ng-container>
                    <ng-template #editColumn>
                        <!-- Columna de edición -->
                        <td [pEditableColumn]="product[col.field]" pEditableColumnField="{{col.field}}">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="product[col.field]" />
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ product[col.field] }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </ng-template>
                </ng-container>
                

                    

            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
            <tr>
                <td colspan="7">
                    <div class="p-3">
                        <div class="d-flex justify-content-center" dataKey="id">
                            <span style="margin-right: 25px;">
                                <p style="font-size: 20px;">Pagos realizados</p>
                               <app-tabla-normal [cols]="colsex" [data]="data"></app-tabla-normal>
                            </span>
                            <span style="margin-left: 25px;">
                                <p style="font-size: 20px;">Documentos Generados</p>
                                <app-tabla-normal [cols]="colsex" [data]="data"></app-tabla-normal>
                            </span>
                            
                        </div>
                        
                    </div>
                </td>
            </tr>
        </ng-template>

        
    </p-table>
    <div class=" flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"></p-paginator>
    </div>
</div>




<!--<div class="card">
    <p-treeTable [value]="files" [columns]="cols" [paginator]="true" [rows]="10" [lazy]="true" (onLazyLoad)="loadNodes($event)" [totalRecords]="1000" [loading]="loading" (onNodeExpand)="onNodeExpand($event)" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr [ttRow]="rowNode">
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>-->

<!--

<div class="card">
    <p-table
        [value]="customers"
        [lazy]="true"
        (onLazyLoad)="loadCustomers($event)"
        dataKey="id"
        [tableStyle]="{ 'min-width': '75rem' }"
        [selection]="selectedCustomers"
        (selectionChange)="onSelectionChange($event)"
        [selectAll]="selectAll"
        (selectAllChange)="onSelectAllChange($event)"
        [paginator]="true"
        [rows]="10"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [globalFilterFields]="['name', 'country.name', 'company', 'representative.name']"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem"></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="country.name">Country <p-sortIcon field="country.name"></p-sortIcon></th>
                <th pSortableColumn="company">Company <p-sortIcon field="company"></p-sortIcon></th>
                <th pSortableColumn="representative.name">Representative <p-sortIcon field="representative.name"></p-sortIcon></th>
            </tr>
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="country.name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="company"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="representative" matchMode="in" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" appendTo="body" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items'">
                                <ng-template let-option pTemplate="item">
                                    <div class="inline-block vertical-align-middle">
                                        <img [alt]="option.label" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}" width="24" class="vertical-align-middle" />
                                        <span class="ml-1 mt-1">{{ option.name }}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.country.name }}</td>
                <td>{{ customer.company }}</td>
                <td>{{ customer.representative.name }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>


-->


<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
    </ng-template>
</p-table>